body {
    font-size: 2em;
    color: #E8E3C5;
    background: url("background.png");
    width: 80%;
    margin: 0 auto;
}

#theDude {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    border-radius: 25px;
}